body {
    width: 960px;
    margin: 15px auto;
    font-family: 'Cambo', Arial, sans-serif;
    font-size: 14.5px;
}

p {
    margin: 0 0 20px 0;
}

p, li {
    line-height: 20px;
}

header#page_header {
    width: 100%;
    margin-bottom: 2em;
    padding: 0;
}

header#page_header #site-logo {
    float: left;
    display: block;
    margin-right: 5px;
}

header#page_header #title {
    font-size: 45px;
    border-bottom: 1px solid black;
    margin-bottom: 0;
}

header#page_header #tagline {
    font-size: 20px;
    margin-top: 2px;
}

header#page_header nav {
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header#page_header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header#page_header nav ul li {
    padding: 0;
    margin: 0 10px 0 0;
    display: inline;
}

header#page_header nav .nav-link {
    text-decoration: none;
    color: blue;
}

header#page_header nav ul li .nav-link:hover {
    background-color: #eee;
}

section#posts {
    float: left;
    width: 65%;
}

section#posts h1 {
    font-size: 26px;
}

section#posts h2 {
    font-size: 22px;
}

section#posts h3 {
    font-size: 20px;
}

section#posts h4 {
    font-size: 18px;
}

section#posts h5 {
    font-size: 16px;
}

section#posts h6 {
    font-size: 14px;
}

section#posts aside {
    float: right;
    width: 45%;
    margin-left: 5%;
    font-size: 18px;
    background-color: #ddd;
    border-radius: 10px;
    padding: 5px 10px;
}

article.post header .title {
    margin-bottom: 5px;
}

article.post header .update {
    color: red;
}

article.post header p {
    font-size: x-small;
}

article.post blockquote {
    background-color: #ddd;
    padding: 5px;
    border-radius: 10px;
}

article.post blockquote p {
    margin: 0;
}

article.post .divider {
    display: block;
    margin: 0 auto;
    width: 125px;
}

section#sidebar {
    float: left;
    width: 25%;
    margin-left: 85px;
    padding-left: 10px;
    border-left: 1px solid black;
}

footer#page_footer {
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
}